<div class="profile-haeder space shadow" style="margin-bottom: 0px;">
  <div class="red dock blur-lg back" style="background-image: url(http://zui.sexy/m/doc/img/img2.jpg)"></div>
  <div class="front dock text-white">
    <div class="avatar avatar-xl circle space-sm">
      <img src="${session.get('avatar')}" alt="">
    </div>
    <h4 class="lead text-shadow-black">${session.get('nickname')}</h4>
    <h4 class="lead text-shadow-black">推荐ID:${session.get('uid')}</h4>
  </div>
</div>

<div style="background-color: #fff;">
	<nav class="nav justified">
		<a href="/my_income" class="${anchor?'':'active'}">
			<span><i class="icon icon-trophy" style="color: gold;"></i> 收入</span>
		</a>
		<a href="/my_anchor" class="${anchor?'active':''}">
			<span><i class="icon icon-group" style="color: plum;"></i> 艺人</span>
		</a>
		<a href="/langma" class="${assist?'active':''}">
			<span><i class="icon icon-link" style="color: green;"></i> 助理</span>
		</a>
	</nav>
</div>