#{extends 'main.html' /}
#{set title:'星卡' /} 

#{list anchors,  as:'anchor'}
<div id="yr_pic" style="position: relative; background-color: #fff;">
	<div class="row">
		<div class="cell-7" style="padding: 0;">
			<img src="${anchor.photo}" style="height: 10.25rem; width: 100%; margin-bottom: 0px; border: 1px solid #ccc;"/>
		</div>
		<div class="cell-5" style="padding: 0;">
			<div class="artice" style="margin-top: 1rem; margin-left: 0.5rem;">
				<h4 >${anchor.nickname}</h4>
				<p class="muted">${anchor.birthdate}</p>
				<p class="muted">${anchor.bodyheight?'身高'+anchor.bodyheight+'cm':''}  ${anchor.bodyweight?'体重'+anchor.bodyweight+'KG':''}</p>
				<p class="muted">${anchor.hobby}</p>
				<p class="muted">${anchor.address}</p>
				<button type="button" class="btn success pull-right buy" style="margin: 0.2rem ; width: 3rem;"  data-display data-backdrop="true" data-target="#buycard" data-id="${anchor.id}" data-placement="bottom">购买</button>
			</div>
		</div>
	</div>
</div>
<div id="buycard" class="affix dock-bottom modal hidden">
  <div class="heading">
    <div class="title"><strong>填写数量</strong></div>
    <nav class="nav"><a data-dismiss="display"><i class="icon-remove muted"></i></a></nav>
  </div>
  <div class="content article box">
		<div class="control">
			<input id="aid" type="hidden" name="aid"> 
			<input id="cardnum" type="text" name="cardnum" style="width: 5rem" value="1">
			<div class="pull-right">
				<span><strong>总价:</strong><span id="price">20</span>元</span>
			</div>
			<button class="btn info block pay" style="margin-top: 0.5rem">支付</button>
		</div>
	</div>
</div>
		
#{/list}

#{include './xc_footer.html' /}

#{set 'moreScripts'}
<script>
	$(function(){
		$(".buy").click(function(){
			//var aid = $(this).attr('data');
			var aid = $(this).data('id');
			$('#aid').val(aid);
		})
		$("#cardnum").change(function(){
			var cardnum = $('#cardnum').val();
			$("#price").html(parseInt(cardnum)*20);
		})
		$(".pay").click(function(){
			var aid = $('#aid').val();
			var cardnum = $('#cardnum').val();
			$.ajax({
				url:'/xingcard/buy?aid='+aid+'&cardnum='+cardnum,
				type:'get',
				success: function(){
					window.location.href="/my/xingcard?v="+Math.random();
				},
				error:function(){
					location.href="/xingcard?v="+Math.random();
				}
			})
		})
	})
</script>
#{/set}

